/*.login-box, .register-box {
    width: 360px;
    margin: 7% auto;
    position: absolute;
    top: -87px;
    left: 37%;
}*/

.login-box, .register-box {
	width: 1000px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.login-box-body {
    width: 400px;
    height: 222px;
}